@media screen and (max-width:1880px){

    .Items-Container-Desktop{
        padding-bottom: 2vh;
    }

    .ver-intro{
        margin-left: 7vw;
    }

    .retangulo-9{
        margin-left: -2vw;
    }

    .upai{
        margin-left: 0.5vw;
    }

    .Text-Container-Desktop{
        padding-top: 4.5vh;
    }

}

@media screen and (max-width:1020px){
    .mulher-gato{
        display: none;
    }
}

    @media screen and (max-width:1320px){
        .retangulo-1{
            display: none;
        }
    
        .retangulo-2{
            display: none;
        }

        .upai{
            border-radius: 50%;
        }
    }

@media screen and (max-width:768px){
    h1{
        font-size: 40px;
    }

    h2{
        font-size: 27px;
    }

    p{
        padding-top: 3vh;
        font-size: 12px;
    }
    }

@media screen and (max-width: 768px){

    .upai{
        left: 0;
    }

    .retangulo-9{
        display: none;
    }

    .ver-intro{
        margin-left: 8vw;
        height:35px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
    }

    .ver-intro i{
        font-size: 14px;
    }

    .conheca{
        height:35px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
    }

@media screen and (max-width:1120px){
    .Text-Container-Desktop{
        padding-top: 14vh;
    }
}

@media screen and (max-width:1120px){
    .retangulo-9{
        display: none;
    }

    .upai{
        position: absolute;
        left: 37.5vw;
    }

    .mulher-gato{
        display: none;
    }
}
}

@media screen and (max-width:1150px){
    .Items-Container-Desktop{
        display: none;
    }

    .Text-Container-Desktop{
        padding-top: 14vh;
    }
}