@media screen and (max-width:1880px){
    .Items-Container-Desktop{
        display: none;
    }

    .Items-Container-Desktop{
        padding-bottom: 2vh;
    }

    .ver-intro{
        margin-left: 7vw;
    }

}

@media screen and (max-width:1010px){
    .mulher-gato{
        display: none;
    }
}

    @media screen and (max-width:1320px){
        .retangulo-1{
            display: none;
        }
    
        .retangulo-2{
            display: none;
        }
    }

@media screen and (max-width: 768px){
    .retangulo-1, .retangulo-2{
        display: none;
    }

    h1{
        font-size: 45px;
    }

    h2{
        font-size: 30px;
    }

    p{
        font-size: 14px;
    }

    .ver-intro{
        margin-left: 8vw;
        height:35px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
    }

    .ver-intro i{
        font-size: 14px;
    }

    .conheca{
        height:35px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
    }
}