*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  .poppins-regular {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(252, 238, 213)6%, rgba(160, 222, 231, 1) 75%, rgba(52, 209, 224, 1)100%);
}

.Items-Container li{
    text-decoration: none;
    display: inline-block;
    align-items: center;
    justify-content: flex-start;
    margin: 60px;
}

.Items-Container a{
    color: rgba(0, 52, 89, 1);
    text-decoration: none;
    max-width: 80%;
}

.Text-Container {
    color: rgba(0, 42, 72, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 86%;
    margin: 0 auto;
    font-family: "Poppins", system-ui;
}

h1, h2, p{
    padding: 6px;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 46px;
}

p{
    font-size: 16px;
}

.bnt{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 42, 72, 1);
    border-radius: 30px;
    padding:12px;
    align-items: center;

}