@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  .poppins-regular {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.Container-Inicial{
    background: linear-gradient(to right, rgb(252, 238, 213)6%, rgba(160, 222, 231, 1) 75%, rgba(52, 209, 224, 1)100%);
    height: 695px;
    border-radius: 0 0 45px 45px;
    z-index: 3;
}


.Items-Container{
    display: flex;
    align-items: center;
    margin-left: 145px;
}

.Items-Container li{
    text-decoration: none;
    display: inline-block;
    margin: 40px;
}

.Items-Container a{
    display: flex;
    align-items: center;
    color: rgba(0, 52, 89, 1);
    text-decoration: none;
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 40px;
}

.Text-Container {
    color: rgba(0, 42, 72, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 86%;
    margin: 0 auto;
    font-family: "Poppins", system-ui;
    padding-top: 30px;
    position: relative;
    z-index: 5;
}

h1, h2, p{
    padding: 6px;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 46px;
}

p{
    font-size: 16px;
}

.bnt{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 42, 72, 1);
    border-radius: 50px;
    height: 45px;
    font-size: 15px;
    cursor: pointer;

    margin-left: 600px;
    padding-left:27px ;
    padding-right: 27px;
}

.ver-intro{
    background-color: transparent;
    border-radius: 30px;
    height: 45px;
    font-size: 14px;
    font-family: "Poppins", system-ui;
    cursor: pointer;



    padding-left: 39px;
    padding-right: 39px;
    margin-top: 30px;
    margin-left: 136px;
}

.ver-intro i{
    margin-left: 10px;
    font-size: 17px;
}

.conheca{
    color: white;
    background-color: rgba(0, 42, 72, 1);
    border-radius: 30px;
    font-size: 14px;
    height: 45px;
    font-family: "Poppins", system-ui;
    margin-left: 10px;
    padding-left: 39px;
    padding-right: 39px;
    cursor: pointer;
}
.retangulo-3{
    position:absolute;
    width: 67.1px;
    height: 67.1px;
    background-color: rgba(247, 219, 167, 1);
    opacity: 100%;
    border-radius: 20px;
    transform: rotate(-25.23deg);
    top: 150px;
    left: 133px;
    z-index: 4;
}
.retangulo-2{
    position: absolute;
    left: 1216px;
    top: 211.5px;
    border-radius: 0 0 0 10%;
}
.retangulo-1{
    position: absolute;
    left: 1125px;
    top: 281.5px;
    border-radius: 0 0 0 10%;
}
.mulher-gato{
    position: absolute;
    top: 126px;
    left: 1143px;
    z-index: 2;
}
.retangulo-8{
    position: absolute;
    top: 602px;
    left: 120px;
}
.retangulo-9{
    position: absolute;
    top: 0px;
    right: 1450px;
    z-index: 1;
}
.upai{
    position: absolute;
    z-index: 6;
    left: 136px;
}